body {
    background-image: url(https://illustrain.com/img/work/2016/illustrain04-book04.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 80% 50%;
}