body {
    background-image: url(https://sozai-good.com/uploads/84549/84549_thumbnail.png);
    background-size: 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 60%;
    z-index: -1;
}