.header-list {
    background-color: yellow;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
}

.header-list a {
    color: black;
    padding-top: 10px;
    padding-left: 20px;
    display: inline-block;
}

a:hover { color: red; }