.inner-left {
    float: left;
    padding: 30px;
    margin-right: 40px;
    background-color: red;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
    opacity: 0.8;
}

.inner-left a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    
}

.inner-center {
    float: left;
    padding: 30px;
    background-color: green;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
    opacity: 0.8;
}

.inner-center a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.inner-right {
    float: right;
    padding: 30px;
    margin-left: 40px;
    background-color: blue;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
    opacity: 0.8;
}

.inner-right a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.wrapper {
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 200px;
}

.title {
    letter-spacing: normal;
    margin: 0 0 100px 50px;
}

.title h1 {
    text-align: center;
    margin: 70px 0;
    font-size: 48px;
}

.administrator {
    margin-right: 50px;
    margin-bottom: 70px;
    text-align: right;
    font-size: 8px;
}

.magnifyBtn {
    padding: 12px 24px;
    color: hsl(243, 80%, 62%);
    border-radius: 6px;
    transition: transform 250ms ease-in-out;
}

.magnifyBtn:hover {
    transform: scale(1.10);
}

.magnifyBtn:active {
    transform: scale(.9);
}