.inner-left {
    float: left;
    padding: 30px;
    margin-right: 40px;
    background-color: red;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
    opacity: 0.8;
}

.inner-left a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    
}

.inner-center {
    float: left;
    padding: 30px;
    background-color: green;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
    opacity: 0.8;
}

.inner-center a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.inner-right {
    float: right;
    padding: 30px;
    margin-left: 40px;
    background-color: blue;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
    opacity: 0.8;
}

.inner-right a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.wrapper {
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 200px;
}

.title {
    letter-spacing: normal;
    margin: 0 0 100px 50px;
}

.title h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 48px;
}

.me {
    margin-left: 50px;
}

.me-thought {
    float:right;
    margin-right: 370px;
}

.me-name {
    float: left;
}

.me-name p {
    margin-left: 25px;
}